<div class="row justify-content-between">
    <div class="col-5">
        <p>Temperatura</p>
    </div>
    <div class="col-3">
        <button class="btn"><i class="fas fa-caret-down fa-2x"></i> Ver más</button>
    </div>
</div>
<div class="row justify-content-between">
    <div class="col-5">
        <p>Temperatura</p>
    </div>
    <div class="col-3">
        <button class="btn"><i class="fas fa-caret-up fa-2x"></i> Ocultar</button>
    </div>
</div>
<div class="row justify-content-between">
    <div class="col-5">
        <p>Temperatura</p>
    </div>
    <div class="col-3">
        <div class="spinner-border" role="status">
            <span class="sr-only"></span>
        </div>
        Obteniendo datos...
    </div>
</div>