<nb-card size="medium">
  <nb-tabset fullWidth>

    <nb-tab tabTitle="Temperature">

      <div class="slider-container">
        <ngx-gauge-dragger [(value)]="temperature"
                                 [min]="12" [max]="30" [disableArcColor]="colors.layoutBg"
                                 [fillColors]="colors.temperature">

          <div class="slider-value-container">
            <div class="value temperature">
              {{ (temperature | ngxRound) }}
            </div>
            <div class="desc">
              Celsius
            </div>
          </div>
        </ngx-gauge-dragger>
      </div>
    </nb-tab>
  </nb-tabset>
</nb-card>
