<nb-card size="small">
  <nb-tabset fullWidth>

    <nb-tab tabTitle={{titleParam}}>

      <div class="slider-container" *ngIf="gaugeValue != -1000">
        <ngx-gauge-dragger [value]="gaugeValue"
                                 [min]="min" [max]="max" [disableArcColor]="colors.layoutBg"
                                 [fillColors]="colors.temperature">

          <div class="slider-value-container">
            <div class="value temperature">
              {{ (gaugeValue | ngxRound) }}
            </div>
            <div class="desc">
              {{ umParam }}
            </div>
          </div>
        </ngx-gauge-dragger>
      </div>
    </nb-tab>
  </nb-tabset>
</nb-card>
