<div class="row" *ngIf="parametros.length > 1">
  <div class="col-12">
    <nb-card>
      <nb-card-header>
        Ultimo dato obtenido: {{ last | date:'dd/MM/yyyy - HH:mm'}}
      </nb-card-header>
    </nb-card>
  </div>
  <div class="col-lg-3 col-6" *ngFor="let parametro of parametros">
    <ngx-gauge [device]="deviceMac" [titleParam]=parametro></ngx-gauge>
  </div>
  <div class="col-12" *ngIf="deviceMac != '' && parametros.length > 1">
    <nb-card>
      <nb-card-header>Gráfico de lineas</nb-card-header>
      <nb-card-body>
        <ngx-echarts-line [device]="deviceMac" [dataLegend]="parametros"></ngx-echarts-line>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-12" *ngIf="deviceMac != '' && parametros.length > 1">
    <nb-card>
      <nb-card-header>Gráfico de área</nb-card-header>
      <nb-card-body>
        <ngx-echarts-area [device]="deviceMac" [dataLegend]="parametros"></ngx-echarts-area>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-12 col-md-6" *ngIf="position">
    <nb-card>
      <nb-card-header>Mapa</nb-card-header>
      <nb-card-body>
        <ngx-gmaps [lat]="position.latitude" [lon]="position.longitude" [title]="nameDevice"></ngx-gmaps>
      </nb-card-body>
    </nb-card>
  </div>
</div>
