<div class="row border text-center align-items-center">
  <div class="col-4">
    <div class="row text-center">
      <div class="col-12">
        <p>Temperatura</p>
        <h2>32</h2>
      </div>
      <div class="col-12">
          <p>Humedad</p>
          <h2>32</h2>
        </div>
    </div>
  </div>
  <div class="col-8">
      <p>Presion: 950 hPa.</p>
      <p>CO2: 330 PPM.</p>
      <p>Batería: 100%.</p>
  </div>
  <div class="col-12 border">
    <p>Actualizado hace: 20 minutos</p>
  </div>
</div>